Repository Automattic/harper, pull requests merged in 2025-04, with the labels that each got.

#1002 fix(wordpress): crashes when options menu is opened
  packages/wordpress-plugin/src/harper/Logo.jsx
  packages/wordpress-plugin/src/harper/index.tsx
Labels: wordpress-plugin

#1008 docs(core): update the `Author a Rule` page to align with code
  Dockerfile
  packages/harper.js/docs.sh
  packages/web/demo_wp_blueprint.json
  packages/web/src/routes/docs/contributors/author-a-rule/+page.md
Labels: documentation

#1015 feat(obsidian): add debounce setting
  packages/obsidian-plugin/src/HarperSettingTab.ts
  packages/obsidian-plugin/src/index.ts
Labels: obsidian-plugin

#1016 feat(harper.js): significantly improve worker performance
  harper-wasm/src/lib.rs
  packages/harper.js/src/Linter.test.ts
  packages/harper.js/src/Linter.ts
  packages/harper.js/src/LocalLinter.ts
  packages/harper.js/src/WorkerLinter/index.ts
  packages/obsidian-plugin/src/index.ts
  packages/web/src/lib/Editor.svelte
  packages/wordpress-plugin/src/harper/RichText.ts
Labels: obsidian-plugin, harper.js, wordpress-plugin

#940 feat(core): added a bunch more common rules
  .github/workflows/fuzz.yml
  .gitignore
  harper-core/dictionary.dict
  harper-core/src/linting/for_noun.rs
  harper-core/src/linting/lint_group.rs
  harper-core/src/linting/mod.rs
  harper-core/src/linting/phrase_corrections.rs
  harper-core/src/spell/mod.rs
  packages/vscode-plugin/package.json
Labels: harper-core, linting

#1023 Curate existing rules
  harper-core/src/linting/lint_group.rs
  harper-core/src/linting/matcher.rs
  harper-core/src/linting/mod.rs
  harper-core/src/linting/phrase_corrections.rs
  harper-core/src/linting/plural_conjugate.rs
  harper-core/src/linting/terminating_conjunctions.rs
  harper-core/src/linting/the_how_why.rs
  harper-core/src/linting/widely_accepted.rs
  harper-core/src/linting/wrong_quotes.rs
  justfile
Labels: harper-core

#1116 fix(obsidian): console contamination
  packages/obsidian-plugin/src/index.ts
Labels: bug, obsidian-plugin

#1147 feat: last ditched/ditch→last-ditch
  harper-core/src/linting/phrase_corrections.rs
Labels: linting

#1172 build: add caching
  .github/workflows/build_harper_binaries.yml
  .github/workflows/precommit.yml
  .github/workflows/release_harper_binaries.yml
  justfile
  package.json
Labels: ci

#1165 fix(core): ignore whitespace when matching case
  harper-core/src/linting/hop_hope/mod.rs
  harper-core/src/linting/suggestion.rs
Labels: harper-core

#1128 Rules
  harper-core/affixes.json
  harper-core/dictionary.dict
  harper-core/src/linting/how_to.rs
  harper-core/src/linting/lint_group.rs
  harper-core/src/linting/mod.rs
  harper-core/src/linting/phrase_corrections.rs
  harper-core/src/patterns/inflection_of_be.rs
  harper-core/src/patterns/mod.rs
  harper-core/src/patterns/sequence_pattern.rs
  harper-core/src/token_kind.rs
  harper-core/src/word_metadata.rs
Labels: harper-core, linting

#1166 fix(core): allow erroneous `shift` usage in spellcheck
  harper-core/src/linting/spell_check.rs
  harper-core/src/spell/mod.rs
Labels: harper-core

#991 feat: Flag phrasal verbs spelled as compound nouns
  harper-core/dictionary.dict
  harper-core/src/document.rs
  harper-core/src/linting/lint_group.rs
  harper-core/src/linting/mod.rs
  harper-core/src/linting/phrasal_verb_as_compound_noun.rs
  harper-core/src/token_string_ext.rs
Labels: enhancement

#1146 feat: how it looks like→how it looks/what it looks like
  harper-core/src/linting/phrase_corrections.rs
Labels: linting
