Repository Automattic/harper, pull requests merged in 2025-08, with the labels that each got.

#1679 feat: a friend of me→friend of mine
  harper-core/src/expr/sequence_expr.rs
  harper-core/src/linting/friend_of_me.rs
  harper-core/src/linting/lint_group.rs
  harper-core/src/linting/mod.rs
Labels: linting, grammar

#1689 feat(docs): update the CDN example to `v0.54.0`
  packages/harper.js/examples/raw-web/index.html
Labels: documentation, harper.js

#1691 fix(chrome-ext): properly position highlights in Ghost editor DOM
  packages/chrome-plugin/src/Highlights.ts
  packages/chrome-plugin/src/editorUtils.ts
Labels: chrome-extension

#1693 feat(core): make French spaces configurable
  harper-core/src/linting/lint_group.rs
  harper-core/src/linting/mod.rs
  harper-core/src/linting/no_french_spaces.rs
  harper-core/src/linting/spaces.rs
Labels: harper-core, linting

#1692 fix(core): false-positive from #1682
  harper-core/src/linting/pronoun_inflection_be.rs
  harper-core/tests/text/linters/this and that.snap.yml
Labels: harper-core, linting

#1695 fix(core): address second part of #1492
  harper-core/src/linting/how_to.rs
Labels: harper-core, linting

#1709 feat(core): add rule to correct a missing `of` after the word `couple`
  harper-core/dictionary.dict
  harper-core/src/linting/lint_group.rs
  harper-core/src/linting/mod.rs
  harper-core/src/linting/quantifier_needs_of.rs
  harper-core/tests/text/tagged/Computer science.md
  harper-core/tests/text/tagged/The Great Gatsby.md
Labels: harper-core, linting

#1714 fix(core): edge-case in `ShouldContract` rule
  harper-core/src/linting/pronoun_contraction/should_contract.rs
  harper-core/tests/text/linters/The Great Gatsby.snap.yml
Labels: harper-core, linting

#1740 Add a "disabled" version of the logo for the Obsidian plugin.
  packages/obsidian-plugin/logo-disabled.svg
  packages/obsidian-plugin/src/index.ts
Labels: obsidian-plugin

#1789 feat(obsidian): change how default values are displayed
  packages/obsidian-plugin/src/HarperSettingTab.ts
  packages/obsidian-plugin/src/State.test.ts
  packages/obsidian-plugin/src/State.ts
Labels: obsidian-plugin

#1821 feat(chrome-ext): export enabled domains
  packages/chrome-plugin/src/ProtocolClient.ts
  packages/chrome-plugin/src/background/index.ts
  packages/chrome-plugin/src/options/Options.svelte
  packages/chrome-plugin/src/protocol.ts
Labels: chrome-extension
