Repository Automattic/harper, pull requests merged in 2025-02, with the labels that each got.

#585 feat(web): add link to the Discord server
  README.md
  packages/web/src/routes/docs/contributors/introduction/+page.md
  packages/web/vite.config.ts
Labels: documentation

#592 fix(core): add `on` to the list of special cases
  harper-core/src/linting/repeated_words.rs
Labels: bug, harper-core, linting

#627 fix(obsidian): correctly handle Unicode conversions
  harper-core/dictionary.dict
  packages/obsidian-plugin/src/index.ts
Labels: obsidian-plugin

#608 Closed Compound Matcher Conversions
  harper-comments/tests/language_support_sources/laravel_app.php
  harper-core/affixes.json
  harper-core/dictionary.dict
  harper-core/src/linting/closed_compounds.rs
  harper-core/src/linting/compound_nouns/general_compound_nouns.rs
  harper-core/src/linting/compound_nouns/implied_ownership_compound_nouns.rs
  harper-core/src/linting/compound_nouns/mod.rs
  harper-core/src/linting/hereby.rs
  harper-core/src/linting/likewise.rs
  harper-core/src/linting/lint_group.rs
  harper-core/src/linting/matcher.rs
  harper-core/src/linting/merge_linters.rs
  harper-core/src/linting/merge_words.rs
  harper-core/src/linting/mod.rs
  harper-core/src/linting/nobody.rs
  harper-core/src/linting/phrase_corrections.rs
  harper-core/src/linting/possessive_your.rs
  harper-core/src/linting/whereas.rs
  harper-core/src/patterns/either_pattern.rs
  harper-core/src/patterns/exact_phrase.rs
  harper-core/src/patterns/mod.rs
  harper-core/src/patterns/sequence_pattern.rs
  harper-core/src/patterns/split_compound_word.rs
  harper-core/src/patterns/within_edit_distance.rs
  harper-core/src/token_kind.rs
  harper-core/tests/run_tests.rs
  harper-core/tests/test_sources/misc_closed_compound_clean.md
  justfile
  packages/harper.js/package.json
  packages/harper.js/src/WorkerLinter/communication.ts
  packages/yarn.lock
  rustfmt.toml
Labels: enhancement, harper-core, linting

#641 fix(core): make narrow linter specifically for `long and behold`
  harper-core/src/linting/phrase_corrections.rs
Labels: bug, harper-core, linting

#658 feat: rename `FullDictionary` -> `MutableDictionary` and add some doc comments
  harper-comments/src/comment_parser.rs
  harper-core/src/lib.rs
  harper-core/src/linting/lint_group.rs
  harper-core/src/parsers/collapse_identifiers.rs
  harper-core/src/spell/dictionary.rs
  harper-core/src/spell/fst_dictionary.rs
  harper-core/src/spell/mod.rs
  harper-core/src/spell/mutable_dictionary.rs
  harper-literate-haskell/src/lib.rs
  harper-ls/src/backend.rs
  harper-ls/src/dictionary_io.rs
  harper-ls/src/document_state.rs
  harper-tree-sitter/src/lib.rs
  harper-wasm/src/lib.rs
Labels: documentation, harper-core

#663 Several New Linters
  harper-core/affixes.json
  harper-core/dictionary.dict
  harper-core/src/char_string.rs
  harper-core/src/linting/hop_hope/mod.rs
  harper-core/src/linting/hop_hope/to_hop.rs
  harper-core/src/linting/hop_hope/to_hope.rs
  harper-core/src/linting/hyphenate_number_day.rs
  harper-core/src/linting/left_right_hand.rs
  harper-core/src/linting/lint_group.rs
  harper-core/src/linting/mod.rs
  harper-core/src/linting/phrase_corrections.rs
  harper-core/src/linting/pique_interest.rs
  harper-core/src/linting/then_than.rs
  harper-core/src/linting/was_aloud.rs
  harper-core/src/patterns/exact_phrase.rs
  harper-core/src/patterns/indefinite_article.rs
  harper-core/src/patterns/mod.rs
  harper-core/src/patterns/noun_phrase.rs
  harper-core/src/patterns/sequence_pattern.rs
  harper-core/src/patterns/singular_subject.rs
  harper-core/src/token_kind.rs
Labels: enhancement, rust, linting

#671 feat(core): create hyphenation rule for `out-of-date`
  harper-core/src/linting/lint_group.rs
  harper-core/src/linting/mod.rs
  harper-core/src/linting/out_of_date.rs
Labels: enhancement, harper-core, linting

#683 feat(harper.js): allow modification to the dictionary.
  harper-core/dictionary.dict
  harper-core/src/linting/lint_group.rs
  harper-core/src/spell/dictionary.rs
  harper-core/src/spell/fst_dictionary.rs
  harper-core/src/spell/merged_dictionary.rs
  harper-core/src/spell/mutable_dictionary.rs
  harper-wasm/src/lib.rs
  packages/harper.js/package.json
  packages/harper.js/src/Linter.test.ts
  packages/harper.js/src/Linter.ts
  packages/harper.js/src/LocalLinter.ts
  packages/harper.js/src/WorkerLinter/index.ts
  packages/obsidian-plugin/src/index.ts
  packages/obsidian-plugin/src/lint.ts
Labels: obsidian-plugin, harper.js

#708 fix(core): `someways` is not a noun
  harper-core/dictionary.dict
  harper-core/src/linting/compound_nouns/mod.rs
Labels: bug, harper-core, linting

#709 fix(core): make `ChangeTack` lint more specific
  harper-core/src/linting/phrase_corrections.rs
Labels: bug, harper-core, linting

#714 feat(core): allow the `ThenThan` linter to cover more cases
  harper-core/dictionary.dict
  harper-core/src/linting/then_than.rs
  harper-core/src/patterns/all.rs
Labels: enhancement, harper-core, linting

#736 fix(core): restrict `GeneralCompoundNouns` to ignore adverb prefixes
  harper-core/dictionary.dict
  harper-core/src/linting/compound_nouns/general_compound_nouns.rs
  harper-core/src/linting/compound_nouns/implied_action_compound_nouns.rs
  harper-core/src/linting/compound_nouns/mod.rs
  harper-core/src/linting/repeated_words.rs
  harper-core/src/linting/then_than.rs
  harper-core/src/patterns/noun_phrase.rs
  harper-core/src/patterns/sequence_pattern.rs
  harper-core/src/token_kind.rs
  harper-core/src/word_metadata.rs
Labels: bug, harper-core, linting

#739 fix(core): improper pattern
  harper-core/src/linting/pronoun_contraction/should_contract.rs
Labels: bug, harper-core, linting

#787 fix(core): remove bad `Forthwith` rule
  harper-core/src/linting/closed_compounds.rs
Labels: bug, harper-core, linting
