Repository Automattic/harper, pull requests merged in 2025-07, with the labels that each got.

#1489 fix(core): use tagger to improve certainty in `HowTo` lint
  harper-core/src/linting/how_to.rs
Labels: harper-core, linting

#1486 feat(core): write linter to detect erroneous use of plurality
  biome.json
  harper-brill/trained_tagger_model.json
  harper-core/dictionary.dict
  harper-core/src/linting/lint_group.rs
  harper-core/src/linting/mod.rs
  harper-core/src/linting/possessive_noun.rs
  harper-core/tests/test_sources/index.org
  harper-core/tests/text/linters/Alice's Adventures in Wonderland.snap.yml
  harper-core/tests/text/linters/Part-of-speech tagging.snap.yml
  harper-core/tests/text/linters/Swear.snap.yml
  harper-core/tests/text/linters/The Great Gatsby.snap.yml
  harper-core/tests/text/tagged/Alice's Adventures in Wonderland.md
  harper-core/tests/text/tagged/Computer science.md
  harper-core/tests/text/tagged/Difficult sentences.md
  harper-core/tests/text/tagged/Part-of-speech tagging.md
  harper-core/tests/text/tagged/The Great Gatsby.md
Labels: harper-core, linting

#1535 fix(chrome-ext): properly place highlights relative to Draft.js root
  packages/chrome-plugin/src/Highlights.ts
  packages/chrome-plugin/src/background/index.ts
  packages/chrome-plugin/src/editorUtils.ts
Labels: chrome-extension

#1551 feat: .is_oov() method on TokenKind
  harper-core/src/linting/phrasal_verb_as_compound_noun.rs
  harper-core/src/token_kind.rs
Labels: enhancement, harper-core

#1498 feat: mass nouns after countable determiners/quantifiers
  harper-core/dictionary.dict
  harper-core/src/expr/sequence_expr.rs
  harper-core/src/linting/have_pronoun.rs
  harper-core/src/linting/lint_group.rs
  harper-core/src/linting/lint_kind.rs
  harper-core/src/linting/mod.rs
  harper-core/src/linting/noun_countability.rs
  harper-core/src/linting/pronoun_inflection_be.rs
  harper-core/src/token_kind.rs
  harper-core/src/word_metadata.rs
  harper-core/tests/text/linters/Alice's Adventures in Wonderland.snap.yml
  harper-core/tests/text/linters/Part-of-speech tagging.snap.yml
  harper-core/tests/text/linters/The Constitution of the United States.snap.yml
  harper-core/tests/text/linters/The Great Gatsby.snap.yml
  harper-core/tests/text/linters/this and that.snap.yml
  harper-core/tests/text/tagged/Alice's Adventures in Wonderland.md
  harper-core/tests/text/tagged/Computer science.md
  harper-core/tests/text/tagged/Difficult sentences.md
  harper-core/tests/text/tagged/Part-of-speech tagging.md
  harper-core/tests/text/tagged/The Constitution of the United States.md
  harper-core/tests/text/tagged/The Great Gatsby.md
  packages/chrome-plugin/src/lintKindColor.ts
  packages/web/src/lib/lintKindColor.ts
Labels: linting, grammar, agreement

#1568 doc(core): document `lint_group` macros
  harper-core/src/linting/lint_group.rs
Labels: documentation

#1563 feat: chomp at the bit→champ at the bit
  harper-core/src/linting/phrase_set_corrections/mod.rs
  harper-core/src/linting/phrase_set_corrections/tests.rs
Labels: enhancement, linting

#1507 feat: detect "more faster", "most best"
  harper-core/annotations.json
  harper-core/dictionary.dict
  harper-core/src/expr/sequence_expr.rs
  harper-core/src/linting/adjective_double_degree.rs
  harper-core/src/linting/lint_group.rs
  harper-core/src/linting/mod.rs
  harper-core/src/token_kind.rs
  harper-core/src/word_metadata.rs
  harper-core/tests/text/linters/Part-of-speech tagging.snap.yml
  harper-core/tests/text/linters/The Great Gatsby.snap.yml
  harper-core/tests/text/tagged/Alice's Adventures in Wonderland.md
  harper-core/tests/text/tagged/Computer science.md
  harper-core/tests/text/tagged/Difficult sentences.md
  harper-core/tests/text/tagged/Part-of-speech tagging.md
  harper-core/tests/text/tagged/The Constitution of the United States.md
  harper-core/tests/text/tagged/The Great Gatsby.md
Labels: linting, grammar

#1592 feat: like as if→like / as if
  harper-core/src/linting/phrase_corrections/mod.rs
  harper-core/src/linting/phrase_corrections/tests.rs
Labels: enhancement, linting

#1604 Capitalize months
  harper-core/src/linting/lint_group.rs
  harper-core/src/linting/mod.rs
  harper-core/src/linting/months.rs
Labels: enhancement, linting

#1593 feat: remaining inflections of rise the question→raise
  harper-core/src/linting/amounts_for.rs
  harper-core/src/linting/noun_instead_of_verb.rs
  harper-core/src/linting/phrase_set_corrections/mod.rs
  harper-core/src/linting/phrase_set_corrections/tests.rs
Labels: linting

#1591 feat: ahead an→ahead and
  harper-core/src/linting/phrase_corrections/mod.rs
  harper-core/src/linting/phrase_corrections/tests.rs
Labels: enhancement, linting

#1611 feat(web): add detail to onboarding page + add site request form
  packages/web/src/routes/install-browser-extension/+page.svelte
  packages/web/src/routes/request-browser-support/+page.svelte
Labels: website

#1609 feat:make it seems→make it seem
  harper-core/src/linting/phrase_set_corrections/mod.rs
  harper-core/src/linting/phrase_set_corrections/tests.rs
Labels: enhancement, linting

#1607 chore: marking mass nouns
  harper-core/dictionary.dict
  harper-core/src/linting/noun_countability.rs
  harper-core/tests/text/linters/The Great Gatsby.snap.yml
  harper-core/tests/text/tagged/Alice's Adventures in Wonderland.md
  harper-core/tests/text/tagged/Computer science.md
  harper-core/tests/text/tagged/Difficult sentences.md
  harper-core/tests/text/tagged/Part-of-speech tagging.md
  harper-core/tests/text/tagged/Spell.US.md
  harper-core/tests/text/tagged/The Constitution of the United States.md
  harper-core/tests/text/tagged/The Great Gatsby.md
  harper-core/tests/text/tagged/this and that.md
Labels: dictionary

#1565 feat: VerbInsteadOfNoun to complement NounInsteadOfVerb
  harper-core/dictionary.dict
  harper-core/src/linting/lint_group.rs
  harper-core/src/linting/mod.rs
  harper-core/src/linting/noun_verb_confusion/mod.rs
  harper-core/src/linting/noun_verb_confusion/noun_instead_of_verb.rs
  harper-core/src/linting/noun_verb_confusion/verb_instead_of_noun.rs
  harper-core/tests/text/tagged/The Great Gatsby.md
Labels: linting

#1614 Fix variety of false-positives
  harper-core/dictionary.dict
  harper-core/src/linting/closed_compounds.rs
  harper-core/src/linting/compound_nouns/compound_noun_after_det_adj.rs
  harper-core/src/linting/compound_nouns/mod.rs
  harper-core/src/linting/how_to.rs
  harper-core/src/linting/possessive_your.rs
  harper-core/src/linting/pronoun_contraction/should_contract.rs
  harper-core/src/linting/pronoun_knew.rs
  harper-core/tests/text/linters/Alice's Adventures in Wonderland.snap.yml
  harper-core/tests/text/linters/The Great Gatsby.snap.yml
  harper-core/tests/text/tagged/Alice's Adventures in Wonderland.md
  harper-core/tests/text/tagged/Computer science.md
  harper-core/tests/text/tagged/The Great Gatsby.md
Labels: harper-core, linting

#1578 feat: add letter-case flags to `WordMetadata`
  harper-cli/src/main.rs
  harper-core/dictionary.dict
  harper-core/src/lib.rs
  harper-core/src/spell/rune/attribute_list.rs
  harper-core/src/token_kind.rs
  harper-core/src/word_metadata.rs
  harper-core/src/word_metadata_orthography.rs
Labels: enhancement, harper-core

#1626 feat: remove filler words "uh" and "um"
  harper-core/src/linting/filler_words.rs
  harper-core/src/linting/lint_group.rs
  harper-core/src/linting/mod.rs
  harper-core/src/linting/pronoun_contraction/should_contract.rs
Labels: enhancement, linting

#1554 chore(dict): add plural tag to 'people'
  harper-core/dictionary.dict
  harper-core/tests/text/tagged/Alice's Adventures in Wonderland.md
  harper-core/tests/text/tagged/Difficult sentences.md
  harper-core/tests/text/tagged/The Constitution of the United States.md
  harper-core/tests/text/tagged/The Great Gatsby.md
Labels: dictionary

#1624 feat:have a look vs. take a look
  harper-core/src/linting/have_take_a_look.rs
  harper-core/src/linting/in_on_the_cards.rs
  harper-core/src/linting/lint_group.rs
  harper-core/src/linting/mod.rs
  harper-core/src/linting/regionalisms.rs
  harper-core/tests/text/linters/The Great Gatsby.snap.yml
Labels: enhancement, linting

#1625 chore: dictionary curation
  harper-core/dictionary.dict
  harper-core/src/linting/phrase_corrections/mod.rs
  harper-core/src/linting/phrase_corrections/tests.rs
  harper-core/tests/text/linters/Alice's Adventures in Wonderland.snap.yml
  harper-core/tests/text/linters/Computer science.snap.yml
  harper-core/tests/text/linters/Difficult sentences.snap.yml
  harper-core/tests/text/linters/Part-of-speech tagging.snap.yml
  harper-core/tests/text/linters/The Great Gatsby.snap.yml
  harper-core/tests/text/tagged/Alice's Adventures in Wonderland.md
  harper-core/tests/text/tagged/Computer science.md
  harper-core/tests/text/tagged/Difficult sentences.md
  harper-core/tests/text/tagged/The Great Gatsby.md
Labels: dictionary

#1653 fix(chrome-ext): filter out erroneous double-clicking
  packages/chrome-plugin/src/Highlights.ts
  packages/chrome-plugin/src/PopupHandler.ts
  packages/obsidian-plugin/.gitignore
Labels: chrome-extension

#1652 fix(core): several false-positives
  harper-core/src/linting/its_contraction.rs
  harper-core/src/linting/its_possessive.rs
  harper-core/src/linting/lint_group.rs
  harper-core/src/linting/nominal_wants.rs
  harper-core/tests/text/linters/Alice's Adventures in Wonderland.snap.yml
  harper-core/tests/text/linters/Computer science.snap.yml
  harper-core/tests/text/linters/Part-of-speech tagging.snap.yml
  harper-core/tests/text/linters/The Great Gatsby.snap.yml
Labels: harper-core, linting

#1639 feat: that typo for than
  harper-core/dictionary.dict
  harper-core/src/expr/sequence_expr.rs
  harper-core/src/linting/lint_group.rs
  harper-core/src/linting/mod.rs
  harper-core/src/linting/that_than.rs
  harper-core/src/token_kind.rs
  harper-core/src/word_metadata.rs
  harper-core/tests/text/tagged/Alice's Adventures in Wonderland.md
  harper-core/tests/text/tagged/Computer science.md
  harper-core/tests/text/tagged/Difficult sentences.md
  harper-core/tests/text/tagged/Part-of-speech tagging.md
  harper-core/tests/text/tagged/The Constitution of the United States.md
  harper-core/tests/text/tagged/The Great Gatsby.md
Labels: linting

#1655 feat(chrome-ext): fade suggestion box in
  packages/chrome-plugin/src/SuggestionBox.ts
Labels: chrome-extension

#1660 fix(core): false-positives
  harper-core/src/expr/sequence_expr.rs
  harper-core/src/linting/its_possessive.rs
  harper-core/src/linting/missing_preposition.rs
  harper-core/src/linting/pronoun_inflection_be.rs
  harper-core/tests/text/linters/Difficult sentences.snap.yml
Labels: harper-core, linting

#1579 feat(chunker): build new chunker with Burn
  Cargo.lock
  Cargo.toml
  Dockerfile
  harper-brill/finished_chunker/model.mpk
  harper-brill/finished_chunker/vocab.json
  harper-brill/src/lib.rs
  harper-cli/Cargo.toml
  harper-cli/src/main.rs
  harper-core/src/document.rs
  harper-core/src/token_string_ext.rs
  harper-core/src/word_metadata.rs
  harper-core/tests/text/tagged/Alice's Adventures in Wonderland.md
  harper-core/tests/text/tagged/Computer science.md
  harper-core/tests/text/tagged/Difficult sentences.md
  harper-core/tests/text/tagged/Part-of-speech tagging.md
  harper-core/tests/text/tagged/Spell.US.md
  harper-core/tests/text/tagged/Spell.md
  harper-core/tests/text/tagged/Swear.md
  harper-core/tests/text/tagged/The Constitution of the United States.md
  harper-core/tests/text/tagged/The Great Gatsby.md
  harper-core/tests/text/tagged/this and that.md
  harper-ls/src/main.rs
  harper-pos-utils/Cargo.toml
  harper-pos-utils/src/chunker/burn_chunker.rs
  harper-pos-utils/src/chunker/cached_chunker.rs
  harper-pos-utils/src/chunker/mod.rs
  harper-pos-utils/src/lib.rs
  harper-wasm/Cargo.toml
  justfile
  packages/chrome-plugin/src/background/index.ts
  packages/chrome-plugin/src/contentScript/index.ts
  packages/chrome-plugin/tests/fixtures.ts
  packages/chrome-plugin/tests/github.spec.ts
  packages/chrome-plugin/tests/lexical.spec.ts
  packages/chrome-plugin/tests/prosemirror.spec.ts
  packages/chrome-plugin/tests/slate.spec.ts
  packages/chrome-plugin/tests/testUtils.ts
Labels: harper-core
