Repository Automattic/harper, pull requests merged in 2025-06, with the labels that each got.

#1360 feat: piece of mind→peace of mind
  harper-core/src/linting/phrase_corrections.rs
Labels: linting

#1362 feat: fix noun that should be related verb
  harper-core/src/linting/lint_group.rs
  harper-core/src/linting/mod.rs
  harper-core/src/linting/noun_instead_of_verb.rs
Labels: linting, grammar

#1354 fix: different messages for wrong word vs missing hyphen
  harper-core/src/linting/phrase_corrections.rs
Labels: linting

#1367 feat(obsidian): tweak style of code block
  packages/obsidian-plugin/src/lint.ts
Labels: obsidian-plugin

#1279 fix: add special case for "how come"
  harper-core/src/linting/how_to.rs
Labels: linting, grammar

#1361 test: `exact_phrase` and `exact_word` differ in case sensitivity
  harper-core/src/linting/a_part.rs
  harper-core/src/linting/amounts_for.rs
  harper-core/src/linting/back_in_the_day.rs
  harper-core/src/linting/hedging.rs
  harper-core/src/linting/map_phrase_linter.rs
  harper-core/src/linting/one_and_the_same.rs
  harper-core/src/linting/out_of_date.rs
  harper-core/src/linting/oxymorons.rs
  harper-core/src/linting/phrase_corrections.rs
  harper-core/src/linting/proper_noun_capitalization_linters.rs
  harper-core/src/patterns/exact_phrase.rs
  harper-core/src/patterns/fixed_phrase.rs
  harper-core/src/patterns/mod.rs
  harper-core/src/patterns/sequence_pattern.rs
Labels: harper-core

#1353 fix: false positives after object case pronouns
  harper-core/src/linting/nominal_wants.rs
Labels: linting, grammar

#1351 feat: `harper-cli compounds` command
  harper-cli/src/main.rs
Labels: enhancement

#1375 feat(chrome-ext): Improve onboarding experience
  packages/chrome-plugin/src/background/index.ts
  packages/web/src/routes/install-browser-extension/+page.svelte
Labels: chrome-extension

#1363 feat: kinda of→kind of / kinda
  harper-core/src/linting/phrase_corrections.rs
Labels: linting

#1348 feat: `harper-cli` command to rename affix annotation flags
  harper-cli/src/main.rs
Labels: enhancement

#1329 feat(core): add rule to expand btw
  harper-core/src/linting/initialism_linter.rs
  harper-core/src/linting/initialisms.rs
  harper-core/src/linting/lint_group.rs
  harper-core/src/linting/mod.rs
  harper-core/src/patterns/word.rs
Labels: harper-core

#1344 feat(brill): train and use Brill tagger
  Cargo.lock
  Cargo.toml
  harper-brill/Cargo.toml
  harper-brill/src/lib.rs
  harper-brill/trained_chunker_model.json
  harper-brill/trained_tagger_model.json
  harper-cli/Cargo.toml
  harper-cli/src/main.rs
  harper-core/Cargo.toml
  harper-core/src/document.rs
  harper-core/src/linting/compound_nouns/mod.rs
  harper-core/src/linting/its_contraction.rs
  harper-core/src/linting/then_than.rs
  harper-core/src/patterns/mod.rs
  harper-core/src/patterns/upos_set.rs
  harper-core/src/token_kind.rs
  harper-core/src/word_metadata.rs
  harper-core/tests/pos_tags.rs
  harper-core/tests/run_tests.rs
  harper-core/tests/text/linters/Alice's Adventures in Wonderland.snap.yml
  harper-core/tests/text/linters/Difficult sentences.snap.yml
  harper-core/tests/text/linters/The Constitution of the United States.snap.yml
  harper-core/tests/text/linters/The Great Gatsby.snap.yml
  harper-core/tests/text/tagged/Alice's Adventures in Wonderland.md
  harper-core/tests/text/tagged/Computer science.md
  harper-core/tests/text/tagged/Difficult sentences.md
  harper-core/tests/text/tagged/Part-of-speech tagging.md
  harper-core/tests/text/tagged/Spell.md
  harper-core/tests/text/tagged/The Constitution of the United States.md
  harper-core/tests/text/tagged/The Great Gatsby.md
  harper-core/tests/text/tagged/this and that.md
  harper-pos-utils/Cargo.toml
  harper-pos-utils/src/chunker/brill_chunker/mod.rs
  harper-pos-utils/src/chunker/brill_chunker/patch.rs
  harper-pos-utils/src/chunker/mod.rs
  harper-pos-utils/src/chunker/np_extraction.rs
  harper-pos-utils/src/chunker/upos_freq_dict.rs
  harper-pos-utils/src/conllu_utils.rs
  harper-pos-utils/src/lib.rs
  harper-pos-utils/src/patch_criteria.rs
  harper-pos-utils/src/tagger/brill_tagger/mod.rs
  harper-pos-utils/src/tagger/brill_tagger/patch.rs
  harper-pos-utils/src/tagger/error_counter.rs
  harper-pos-utils/src/tagger/freq_dict.rs
  harper-pos-utils/src/tagger/freq_dict_builder.rs
  harper-pos-utils/src/tagger/mod.rs
  harper-pos-utils/src/upos.rs
  harper-pos-utils/src/word_counter.rs
  packages/obsidian-plugin/data.json
  packages/web/src/routes/docs/contributors/brill/+page.md
  packages/web/vite.config.ts
Labels: harper-core

#1251 feat: split affixes and properties and support propagating properties
  harper-comments/tests/language_support_sources/basic_kotlin.kt
  harper-core/affixes.json
  harper-core/dictionary.dict
  harper-core/src/spell/rune/attribute_list.rs
  harper-core/src/spell/rune/expansion.rs
  harper-core/src/spell/rune/mod.rs
  harper-core/tests/pos_tags.rs
  harper-core/tests/text/Swear.md
  harper-core/tests/text/linters/Alice's Adventures in Wonderland.snap.yml
  harper-core/tests/text/linters/Difficult sentences.snap.yml
  harper-core/tests/text/linters/Part-of-speech tagging.snap.yml
  harper-core/tests/text/linters/Swear.snap.yml
  harper-core/tests/text/linters/The Constitution of the United States.snap.yml
  harper-core/tests/text/linters/The Great Gatsby.snap.yml
  harper-core/tests/text/tagged/Alice's Adventures in Wonderland.md
  harper-core/tests/text/tagged/Difficult sentences.md
  harper-core/tests/text/tagged/Part-of-speech tagging.md
  harper-core/tests/text/tagged/Spell.md
  harper-core/tests/text/tagged/Swear.md
  harper-core/tests/text/tagged/The Constitution of the United States.md
  harper-core/tests/text/tagged/The Great Gatsby.md
  packages/web/src/routes/docs/contributors/dictionary/+page.md
Labels: harper-core

#1405 feat: take sth. serious→take sth. seriously
  harper-core/src/linting/mod.rs
  harper-core/src/linting/phrase_corrections/mod.rs
  harper-core/src/linting/take_serious.rs
Labels: linting, grammar

#1407 feat(core): add linter for #346
  harper-core/src/linting/phrase_corrections/mod.rs
  harper-core/src/linting/phrase_corrections/tests.rs
Labels: harper-core, linting

#1391 feat:Shoot oneself into a leg → oneself in the foot
  harper-core/affixes.json
  harper-core/dictionary.dict
  harper-core/src/char_string.rs
  harper-core/src/expr/mod.rs
  harper-core/src/expr/reflexive_pronoun.rs
  harper-core/src/linting/lint_group.rs
  harper-core/src/linting/mod.rs
  harper-core/src/linting/shoot_oneself_in_the_foot.rs
  harper-core/src/token_kind.rs
  harper-core/src/word_metadata.rs
  harper-core/tests/text/tagged/Alice's Adventures in Wonderland.md
  harper-core/tests/text/tagged/Difficult sentences.md
  harper-core/tests/text/tagged/The Great Gatsby.md
Labels: linting

#1410 chore: re-sort phrase corrections
  harper-core/src/linting/phrase_corrections/mod.rs
  harper-core/src/linting/phrase_corrections/tests.rs
Labels: harper-core

#1412 docs: add page for Firefox + update FAQ
  packages/web/src/routes/docs/faq/+page.md
  packages/web/src/routes/docs/integrations/firefox-extension/+page.md
  packages/web/vite.config.ts
Labels: documentation

#1416 feat(core): cover case from #381 + remove useless rule
  harper-core/src/linting/its_contraction.rs
  harper-core/src/linting/phrase_corrections/mod.rs
Labels: harper-core, linting

#1414 feat: Implement #405 - the "5am in the morning" redundancy
  harper-core/src/linting/am_in_the_morning.rs
  harper-core/src/linting/lint_group.rs
  harper-core/src/linting/lint_kind.rs
  harper-core/src/linting/mod.rs
Labels: linting

#1318 feat: add "except if" and "except when" for "unless if"
  harper-core/src/linting/phrase_corrections/mod.rs
Labels: linting, grammar

#1345 feat: touristic → tourist / tourism / touristic
  harper-core/dictionary.dict
  harper-core/src/linting/lint_group.rs
  harper-core/src/linting/mod.rs
  harper-core/src/linting/touristic.rs
  harper-core/tests/text/tagged/Alice's Adventures in Wonderland.md
  harper-core/tests/text/tagged/Difficult sentences.md
  harper-core/tests/text/tagged/Part-of-speech tagging.md
  harper-core/tests/text/tagged/The Great Gatsby.md
Labels: linting

#1467 fix(core): we cannot respect `spellcheck="off"`
  packages/chrome-plugin/src/contentScript/index.ts
Labels: chrome-extension

#1485 fix(chrome-ext): address scrolling problems
  packages/chrome-plugin/src/TextFieldRange.ts
  packages/chrome-plugin/tests/github.spec.ts
Labels: chrome-extension
