Repository Automattic/harper, pull requests merged in 2025-05, with the labels that each got.

#1204 Print version numbers
  Cargo.lock
  harper-ls/Cargo.toml
  harper-ls/src/main.rs
  justfile
  packages/obsidian-plugin/package.json
  packages/obsidian-plugin/rollup.config.mjs
  packages/obsidian-plugin/src/index.ts
  packages/web/src/routes/latestversion/+server.ts
  pnpm-lock.yaml
Labels: obsidian-plugin, harper-ls

#1234 fix(chrome-ext): render on scroll
  packages/chrome-plugin/src/Box.ts
  packages/chrome-plugin/src/Highlights.ts
  packages/chrome-plugin/src/LintFramework.ts
  packages/chrome-plugin/src/TextFieldRange.ts
  packages/chrome-plugin/src/background/index.ts
  packages/chrome-plugin/src/computeLintBoxes.ts
Labels: chrome-extension

#1235 fix(obsidian): pretty-print the lint kind
  packages/obsidian-plugin/src/index.ts
Labels: obsidian-plugin

#1154 feat:one in the same→one and the same
  harper-core/src/linting/lint_group.rs
  harper-core/src/linting/mod.rs
  harper-core/src/linting/one_and_the_same.rs
Labels: linting

#1236 fix(core): long sentence lint should start with word
  harper-core/src/linting/long_sentences.rs
  harper-core/tests/text/linters/Alice's Adventures in Wonderland.snap.yml
  harper-core/tests/text/linters/Computer science.snap.yml
  harper-core/tests/text/linters/Part-of-speech tagging.snap.yml
  harper-core/tests/text/linters/The Constitution of the United States.snap.yml
  harper-core/tests/text/linters/The Great Gatsby.snap.yml
Labels: harper-core, linting

#1237 feat(core): use Rayon in snapshot tests
  Cargo.lock
  Cargo.toml
  harper-core/Cargo.toml
  harper-core/tests/snapshot.rs
  packages/web/src/routes/docs/contributors/tests/+page.md
  packages/web/vite.config.ts
Labels: rust, harper-core

#1240 feat(web): render HTML descriptions on rules page
  Cargo.lock
  harper-core/Cargo.toml
  harper-core/src/lib.rs
  harper-core/src/linting/lint.rs
  harper-core/src/linting/lint_group.rs
  harper-core/src/linting/mod.rs
  harper-core/src/linting/spell_check.rs
  harper-core/src/render_markdown.rs
  harper-core/tests/text/linters/Alice's Adventures in Wonderland.snap.yml
  harper-core/tests/text/linters/Computer science.snap.yml
  harper-core/tests/text/linters/Difficult sentences.snap.yml
  harper-core/tests/text/linters/Part-of-speech tagging.snap.yml
  harper-core/tests/text/linters/The Constitution of the United States.snap.yml
  harper-core/tests/text/linters/The Great Gatsby.snap.yml
  harper-wasm/src/lib.rs
  packages/chrome-plugin/app.css
  packages/chrome-plugin/src/SuggestionBox.ts
  packages/chrome-plugin/src/background/index.ts
  packages/chrome-plugin/src/options/Options.svelte
  packages/chrome-plugin/src/unpackLint.ts
  packages/harper.js/src/Linter.test.ts
  packages/harper.js/src/Linter.ts
  packages/harper.js/src/LocalLinter.ts
  packages/harper.js/src/WorkerLinter/index.ts
  packages/obsidian-plugin/src/index.ts
  packages/obsidian-plugin/src/lint.ts
  packages/vscode-plugin/src/tests/suite/integration.test.ts
  packages/vscode-plugin/src/tests/suite/languages.test.ts
  packages/web/src/lib/Editor.svelte
  packages/web/src/routes/docs/rules/+page.svelte
Labels: obsidian-plugin, chrome-extension

#1252 fix(obsidian): odd padding around message
  packages/obsidian-plugin/src/index.ts
  packages/obsidian-plugin/src/lint.ts
Labels: obsidian-plugin

#1255 feat(chrome-ext): add support for more sites
  packages/chrome-plugin/src/Highlights.ts
  packages/chrome-plugin/src/PopupHandler.ts
  packages/chrome-plugin/src/ProtocolClient.ts
  packages/chrome-plugin/src/background/index.ts
  packages/chrome-plugin/src/contentScript/index.ts
Labels: chrome-extension

#1250 feat(ls): persist lint ignores
  harper-ls/src/backend.rs
  harper-ls/src/config.rs
  harper-ls/src/dictionary_io.rs
  harper-ls/src/ignored_lints_io.rs
  harper-ls/src/io_utils.rs
  harper-ls/src/main.rs
  packages/web/src/routes/docs/integrations/language-server/+page.md
Labels: harper-ls

#1273 fix(obsidian): move `max-height` css rule lower in the tree
  packages/obsidian-plugin/src/lint.ts
Labels: obsidian-plugin

#1241 feat(core): add several new rules
  harper-core/affixes.json
  harper-core/dictionary.dict
  harper-core/src/linting/ask_no_preposition.rs
  harper-core/src/linting/back_in_the_day.rs
  harper-core/src/linting/confident.rs
  harper-core/src/linting/else_possessive.rs
  harper-core/src/linting/for_noun.rs
  harper-core/src/linting/it_would_be.rs
  harper-core/src/linting/its_contraction.rs
  harper-core/src/linting/lint_group.rs
  harper-core/src/linting/lint_kind.rs
  harper-core/src/linting/mod.rs
  harper-core/src/linting/nail_on_the_head.rs
  harper-core/src/linting/nominal_wants.rs
  harper-core/src/linting/oxford_comma.rs
  harper-core/src/linting/phrase_corrections.rs
  harper-core/src/linting/repeated_words.rs
  harper-core/src/linting/save_to_safe.rs
  harper-core/src/linting/win_prize.rs
  harper-core/src/patterns/mod.rs
  harper-core/tests/text/linters/The Great Gatsby.snap.yml
  harper-core/tests/text/tagged/Alice's Adventures in Wonderland.md
  harper-core/tests/text/tagged/Computer science.md
  harper-core/tests/text/tagged/Difficult sentences.md
  harper-core/tests/text/tagged/The Great Gatsby.md
Labels: harper-core, linting

#1272 feat(chrome-ext): ignore lints
  harper-core/src/ignored_lints/lint_context.rs
  harper-core/src/ignored_lints/mod.rs
  harper-core/src/lib.rs
  harper-wasm/src/lib.rs
  packages/chrome-plugin/src/Highlights.ts
  packages/chrome-plugin/src/ProtocolClient.ts
  packages/chrome-plugin/src/SuggestionBox.ts
  packages/chrome-plugin/src/TextFieldRange.ts
  packages/chrome-plugin/src/background/index.ts
  packages/chrome-plugin/src/computeLintBoxes.ts
  packages/chrome-plugin/src/protocol.ts
  packages/chrome-plugin/src/unpackLint.ts
  packages/harper.js/src/Linter.test.ts
  packages/harper.js/src/Linter.ts
  packages/harper.js/src/LocalLinter.ts
  packages/harper.js/src/WorkerLinter/index.ts
  packages/harper.js/src/binary.ts
Labels: chrome-extension

#1278 fix(obsidian): problems with updating lint config
  Cargo.toml
  harper-core/src/linting/of_course.rs
  harper-core/src/patterns/word.rs
  justfile
  packages/harper.js/vite.config.ts
  packages/obsidian-plugin/package.json
  packages/obsidian-plugin/rollup.config.mjs
  packages/obsidian-plugin/src/HarperSettingTab.ts
  packages/obsidian-plugin/src/State.test.ts
  packages/obsidian-plugin/src/State.ts
  packages/obsidian-plugin/src/index.ts
  packages/obsidian-plugin/vite.config.ts
  pnpm-lock.yaml
Labels: obsidian-plugin

#1275 fix(chrome-ext): properly support the Slate editor.
  packages/chrome-plugin/src/Highlights.ts
  packages/chrome-plugin/src/background/index.ts
  packages/chrome-plugin/src/computeLintBoxes.ts
  packages/chrome-plugin/src/editorUtils.ts
Labels: bug, chrome-extension

#1271 feat(comments): add Kotlin support
  Cargo.lock
  harper-comments/Cargo.toml
  harper-comments/src/comment_parser.rs
  harper-comments/tests/language_support.rs
  harper-comments/tests/language_support_sources/basic_kotlin.kt
  harper-core/dictionary.dict
  packages/vscode-plugin/package.json
  packages/web/src/routes/docs/integrations/language-server/+page.md
Labels: harper-ls, harper-comments

#1295 feat(core): make sentence capitalization replace whole word
  harper-core/benches/parse_demo.rs
  harper-core/src/linting/sentence_capitalization.rs
  harper-core/tests/text/linters/Alice's Adventures in Wonderland.snap.yml
  harper-core/tests/text/linters/Computer science.snap.yml
  harper-core/tests/text/linters/Difficult sentences.snap.yml
  harper-core/tests/text/linters/The Constitution of the United States.snap.yml
  harper-core/tests/text/linters/The Great Gatsby.snap.yml
Labels: harper-core

#1281 test(chrome-ext): e2e test for the Slate editor
  biome.json
  justfile
  packages/chrome-plugin/.gitignore
  packages/chrome-plugin/.prettierignore
  packages/chrome-plugin/.prettierrc
  packages/chrome-plugin/package.json
  packages/chrome-plugin/playwright.config.ts
  packages/chrome-plugin/src/Highlights.ts
  packages/chrome-plugin/src/LintFramework.ts
  packages/chrome-plugin/src/RenderBox.ts
  packages/chrome-plugin/tests/fixtures.ts
  packages/chrome-plugin/tests/slate.spec.ts
  pnpm-lock.yaml
Labels: chrome-extension

#1297 test(chrome-ext): fix underline positioning on GitHub textareas
  packages/chrome-plugin/package.json
  packages/chrome-plugin/playwright.config.ts
  packages/chrome-plugin/src/TextFieldRange.ts
  packages/chrome-plugin/src/background/index.ts
  packages/chrome-plugin/tests/fixtures.ts
  packages/chrome-plugin/tests/github.spec.ts
  packages/chrome-plugin/tests/pages/github_textarea.html
  packages/chrome-plugin/tests/slate.spec.ts
  packages/chrome-plugin/tests/testUtils.ts
  pnpm-lock.yaml
Labels: chrome-extension

#1283 feat(chrome-ext): bring the selections closer to the cursor
  packages/chrome-plugin/assets/book-down.svg
  packages/chrome-plugin/src/Highlights.ts
  packages/chrome-plugin/src/SuggestionBox.ts
Labels: chrome-extension

#1313 refactor(core): box within function
  harper-core/src/linting/lint_group.rs
Labels: harper-core

#1315 feat(web): add page with feedback form
  .github/workflows/build_web.yml
  packages/chrome-plugin/src/background/index.ts
  packages/web/src/routes/uninstall-browser-extension/+page.svelte
Labels: chrome-extension

#1334 feat(ls): allow skipping the version check
  harper-ls/src/main.rs
Labels: harper-ls

#1332 fix(ls): do not emit diagnostics on save
  harper-ls/src/backend.rs
Labels: harper-ls

#1257 fix: correct and improve verb morphology
  harper-core/affixes.json
  harper-core/src/lib.rs
  harper-core/src/linting/everyday.rs
  harper-core/src/linting/how_to.rs
  harper-core/src/linting/lets_confusion/no_contraction_with_verb.rs
  harper-core/src/token_kind.rs
  harper-core/src/word_metadata.rs
Labels: harper-core, grammar
