Repository Automattic/harper, pull requests merged in 2025-09, with the labels that each got.

#1694 feat(core): create rule to detect duplicate punctuation
  harper-comments/src/comment_parsers/mod.rs
  harper-comments/src/comment_parsers/unit.rs
  harper-comments/tests/language_support.rs
  harper-core/src/linting/lint_group.rs
  harper-core/src/linting/mod.rs
  harper-core/src/linting/punctuation_clusters.rs
  harper-core/src/span.rs
  harper-core/tests/run_tests.rs
  harper-core/tests/text/linters/Alice's Adventures in Wonderland.snap.yml
  harper-core/tests/text/linters/Computer science.snap.yml
  harper-core/tests/text/linters/Difficult sentences.snap.yml
  harper-core/tests/text/linters/The Great Gatsby.snap.yml
Labels: harper-core, linting

#1908 feat(core): create `OughtToBe` rule
  harper-core/src/linting/lint_group.rs
  harper-core/src/linting/mod.rs
  harper-core/src/linting/ought_to_be.rs
Labels: harper-core, linting

#1927 fix(#1926): isolate typst content blocks with parbreaks
  harper-typst/src/typst_translator.rs
  harper-typst/tests/run_tests.rs
  harper-typst/tests/test_sources/issue_1926.typ
Labels: typst

#1941 fix(#1898): do not panic on other typst parsing error
  harper-typst/src/lib.rs
  harper-typst/src/typst_translator.rs
Labels: bug, typst, crash

#1942 feat(web): apply feedback from #1878
  packages/web/src/lib/Editor.svelte
  packages/web/src/lib/LintCard.svelte
  packages/web/src/routes/+page.svelte
Labels: website

#1943 feat(core): add rule for unnecessary double-negatives
  harper-core/src/linting/phrase_corrections/mod.rs
  harper-core/src/linting/phrase_corrections/tests.rs
  harper-core/src/linting/phrase_set_corrections/mod.rs
  harper-core/src/linting/phrase_set_corrections/tests.rs
  packages/vscode-plugin/package.json
Labels: harper-core, linting

#1572 refactor: metadata attribute naming and commenting
  harper-cli/src/annotate_tokens.rs
  harper-cli/src/main.rs
  harper-core/src/dict_word_metadata.rs
  harper-core/src/dict_word_metadata_orthography.rs
  harper-core/src/document.rs
  harper-core/src/expr/fixed_phrase.rs
  harper-core/src/expr/mergeable_words.rs
  harper-core/src/expr/similar_to_phrase.rs
  harper-core/src/lib.rs
  harper-core/src/linting/compound_nouns/mod.rs
  harper-core/src/linting/inflected_verb_after_to.rs
  harper-core/src/linting/mass_plurals.rs
  harper-core/src/linting/multiple_sequential_pronouns.rs
  harper-core/src/linting/nominal_wants.rs
  harper-core/src/linting/phrasal_verb_as_compound_noun.rs
  harper-core/src/linting/spell_check.rs
  harper-core/src/parsers/collapse_identifiers.rs
  harper-core/src/patterns/implies_quantity.rs
  harper-core/src/spell/dictionary.rs
  harper-core/src/spell/fst_dictionary.rs
  harper-core/src/spell/merged_dictionary.rs
  harper-core/src/spell/mod.rs
  harper-core/src/spell/mutable_dictionary.rs
  harper-core/src/spell/rune/attribute_list.rs
  harper-core/src/spell/rune/expansion.rs
  harper-core/src/spell/rune/mod.rs
  harper-core/src/spell/rune/word_list.rs
  harper-core/src/spell/word_map.rs
  harper-core/src/title_case.rs
  harper-core/src/token_kind.rs
  harper-core/tests/pos_tags.rs
  harper-ls/src/backend.rs
  harper-ls/src/dictionary_io.rs
  harper-tree-sitter/src/lib.rs
  harper-typst/tests/tests.rs
  harper-wasm/src/lib.rs
  packages/web/src/routes/docs/contributors/dictionary/+page.md
Labels: documentation

#1953 feat(web): link to the Microsoft Edge extension
  demo.md
  harper-core/src/linting/phrase_set_corrections/mod.rs
  packages/web/src/lib/EdgeLogo.svelte
  packages/web/src/routes/+page.svelte
Labels: website

#1954 feat(core): rule to fix affect -> effect
  harper-core/src/expr/mod.rs
  harper-core/src/linting/lint_group.rs
  harper-core/src/linting/noun_verb_confusion/effect_affect/affect_to_effect.rs
  harper-core/src/linting/noun_verb_confusion/effect_affect/effect_to_affect.rs
  harper-core/src/linting/noun_verb_confusion/effect_affect/mod.rs
  harper-core/src/linting/noun_verb_confusion/mod.rs
  harper-core/src/linting/noun_verb_confusion/noun_instead_of_verb.rs
  harper-core/src/linting/noun_verb_confusion/noun_instead_of_verb/general.rs
  harper-core/src/linting/noun_verb_confusion/noun_instead_of_verb/mod.rs
  harper-core/src/linting/noun_verb_confusion/verb_instead_of_noun.rs
Labels: harper-core, linting

#1990 feat(core): create initial `MissingTo` rule
  harper-core/src/linting/lint_group.rs
  harper-core/src/linting/missing_to.rs
  harper-core/src/linting/mod.rs
Labels: harper-core, linting
